# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

# Better Auth

# When deploying to Vercel, this variable is autofilled
BETTER_AUTH_URL="http://localhost:3000"

# Generate with `openssl rand -base64 32`
BETTER_AUTH_SECRET=""

# GitHub Provider
GITHUB_ID=""
GITHUB_SECRET=""

# S3
S3_ENDPOINT=""

AWS_S3_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# App configuration
STORAGE_SERVER="s3" # can be s3 or builtin, which is the file-based storage server